<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<body>
<div th:replace="common/navbar :: common-navbar" />

<main>
    <div class="container">
        <div th:if="${passwordReset}">
            <div class="row" id="alert-error" th:if="${passwordReset == 'true'}">
                <div class="col s12 m6 offset-m3">
                    <div class="card green">
                        <div class="row">
                            <div class="col s12 m10">
                                <div class="card-content white-text">
                                    <p th:text="#{resetPassword.success.message}" />
                                </div>
                            </div>
                            <div class="col s12 m2">
                                <i class="material-icons icon_style" id="alert-passwordReset-close">close</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="alert-logout" th:if="${passwordReset == 'false'}">
                <div class="col s12 m6 offset-m3">
                    <div class="card red darken-1">
                        <div class="row">
                            <div class="col s12 m10">
                                <div class="card-content white-text">
                                    <p th:text="#{message}" />
                                </div>
                            </div>
                            <div class="col s12 m2">
                                <i class="material-icons icon_style" id="alert-passwordReset2-close">close</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LoginForm -->
        <div class="row">
            <div class="col m6 offset-m3">
                <h4 class="center-align" th:text="#{forgotmypassword.fill.form.below}"></h4>
                <p th:text="#{resetPassword.p.lead}"></p>
                <form id="forgotPasswordForm" th:action="@{/changeuserpassword}" method="POST">
                    <input id="principal_id" type="hidden" name="principal_id" th:value="${principalId}"/>
                    <!-- password -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password" class="validate" />
                            <label for="password" th:text="#{login.form.password}"></label>
                        </div>
                    </div>
                    <!-- confirm password -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="confirmPassword" type="password" name="confirmPassword" class="validate" />
                            <label for="confirmPassword" th:text="#{signup.form.confirm.password}"></label>
                        </div>
                    </div>

                    <div class="row center-align">
                        <button class="btn waves-effect waves-light" type="submit" th:utext="#{changePassword.submit}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<div th:replace="common/footer :: common-footer" />

<div th:replace="common/header :: before-body-scripts" />
</body>
</html>
