@charset "UTF-8";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* login submit button */
.login-submit {
    padding-left: 12px;
    padding-bottom: 10px;
}

/* alert close icon */
.icon_style {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.card-content i.activator:hover {
    cursor: pointer;
}

#loginForm input {
    color: #e4e4e4;
}